<!DOCTYPE html>
<html>
  <head>
    <link type="image/png" sizes="16x16" rel="icon" href="static/icon-16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="static/icon-32.png">
    <link type="image/png" sizes="96x96" rel="icon" href="static/icon-96.png">
    <script src="static/htmx-2.0.2.js"></script>
  </head>
  <body>
    <div>

      <div>
        <h1>Find Geocaches</h1>


        <div>
          jobs will show up here?
          <div id="jobs">
            empty by default
          </div>

          <a hx-target="#jobs" hx-swap="innerHTML" hx-get="/test">refresh?</a>
          </div>

        <div>
          <h2>Along a Track</h2>
          <p>This will load <strong>traditional</strong> geocaches that are close to a GPX track.</p>

          <form action="/jobs" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload">
          </form>
        </div>

        <div>
          <h2>In an Area</h2>
          <p>This will load <strong>traditional</strong> geocaches that are around a coordinate.</p>

          <form action="/area" method="post" enctype="multipart/form-data">
            <input name="lat" type="text"/>
            <input name="lon" type="text"/>
            <input name="radius" type="text"/>
            <input type="submit" value="Request"/>
          </form>
        </div>

        <div>
          <h2>Existing Jobs</h2>
          <ul>
            {{#each jobs}}
            <li>
              {{this.0}} {{this.1}}, <a href="jobs/{{this.0}}/gpi">GPI</a>
            </li>
            {{/each}}
          </ul>
        </div>
  </body>
</html>
